[Desktop Entry]
Encoding=UTF-8
Name=wildnode
Comment=wildnode P2P Cryptocurrency
Comment[fr]=wildnode, monnaie virtuelle cryptographique pair à pair
Comment[tr]=wildnode, eşten eşe kriptografik sanal para birimi
Exec=wildnode-qt %u
Terminal=false
Type=Application
Icon=wildnode128
MimeType=x-scheme-handler/wildnode;
Categories=Office;Finance;
